.adminDashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
     background-color: #e8f0ea;  
    min-height: 100vh;


}

.adminDashboard.dark {
    background-color: var(--dm-bg);
    color: white;
}


.dashboard {
    display: grid;
    margin: 20px;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-auto-rows: minmax(60px, auto);
}




.box {
    padding: 10px;

    border-radius: 10px;
    border: 1px solid #e7faef;
    background: #ffffff; /* Pure white background */
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1), 
                -8px -8px 15px rgba(255, 255, 255, 0.7); /* Soft shadows for neumorphism */
   
    height: auto;
    overflow: hidden;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;


}


/* Hover effect */
.box:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15), 
    -10px -10px 20px rgba(255, 255, 255, 0.8);
    
}

.box1 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}


.box8 {
    grid-column: span 2;
    grid-row: span 4;
}

.box9 {
    grid-column: span 2;
    grid-row: span 4;
}

.box10 {
    grid-column: span 2;
    grid-row: span 3;
}
.box11 {
    grid-column: span 2;
    grid-row: span 3;
}



/* Media query for screens between 900px and 1024px */
@media (max-width: 1024px) and (min-width: 900px) {
    .dashboard {
        grid-template-columns: 1fr; /* Switch to 1 column for each box */
    }

    .box1, .box8, .box9, .box {
        grid-column: span 1; /* Each box takes a full row */
    }
}

/* Media query for tablet screens (600px to 900px) */
@media (max-width: 900px) and (min-width: 600px) {
    .dashboard {
        grid-template-columns: 1fr; /* Adjust to 1 column layout */
    }

    .box1, .box8, .box9, .box {
        grid-column: span 1; /* Each box takes full row */
    }
}

/* Media query for mobile screens (max-width 600px) */
@media (max-width: 600px) {
    .dashboard {
        grid-template-columns: 1fr; /* Stack all boxes vertically */
    }

    .box {
        grid-column: span 1; /* Each box in one row */
    }

    .box1, .box8, .box9 {
        grid-row: auto;
    }
}