.total-absent-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.total-absent-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    padding: 20px;
    margin: 28px 28px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.total-absent-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-absent-heading{
    font-size: 20px;
    color: var(--text-color);
    margin: 0;
}

.total-absent-icon-container {
    display: flex;
    gap: 10px;
}

.total-absent-header-icon {
    font-size: 24px;
    color: #555;
    cursor: pointer;
}

.total-absent-header-icon:hover {
    color: #000;
}


.total-absent-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.total-absent-table thead {
    background-color: #4abb83;
}

.total-absent-table thead tr th {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: white;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #4abb83;
}

.total-absent-table tbody tr {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.total-absent-table tbody tr:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.total-absent-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.total-absent-table tbody tr td {
    font-size: 12px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #35363a;
    padding: 6px;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

.total-absent-table tbody tr td .action-btn {
    width: 25px;
    height: 25px;
    display: inline-block;
    font-weight: medium;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #555;
    margin: 2px;
    padding: 4px;
}

.total-absent-table tbody tr td .update-btn {
    background: var(--gradient-border);
    color: white;
    cursor: pointer;
    margin-right: 6px;
}

.total-absent-table tbody tr td .delete-btn {
    background: var(--red-gradient);
    color: white;
    cursor: pointer;
}


.delete-btn,
.update-btn:hover {
    opacity: 0.9;
}

.employee-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    background: linear-gradient(90deg, rgba(29, 169, 156, 1) 0%, rgba(74, 187, 131, 1) 50%, rgba(125, 207, 97, 1) 100%);
    border: 2px solid #f7faf8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.pagination-btn {
    cursor: pointer;
    margin: 0 10px;
    font-size: 24px;
    color: #555;
}

.pagination-btn:hover {
    color: #000;
}

.pagination-container span {
    font-size: 16px;
    margin: 0 5px;
}
