.ou-template {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   
    margin-top: 20px;
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 0;
    padding: 20px;
  }
  
  .first-row, .second-row {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .download-template-button, .create-ou-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #55565b;
    border: 1px solid transparent;
    padding: 8px 8px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
    background-image: linear-gradient(white, white),
                      linear-gradient(90deg, rgba(29,169,156,1) 0%, rgba(74,187,131,1) 50%, rgba(125,207,97,1) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  
  .download-template-button:hover, .create-ou-button:hover {
    color: #0056b3;
    border-color: transparent;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .input-container .excel-icon {
    margin-right: 8px;
    color: #57d33e; /* Customize the color for ExcelIcon */
    
  }
  
  .download-icon {
    color: #2196f3; /* Color for DownloadIcon */
  }
  
  .create-otype-icon {
    color: #ff5722; /* Color for Create OuType icon */
  }
  
  .create-ouowner-icon {
    color: #9c27b0; /* Color for Create OuOwner icon */
  }
  
  .create-new-ou-icon {
    color: #ff9800; /* Color for Create New OU icon */
  }
  
  input[type='file'] {
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
  }
  