.autoShiftScheme{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f7f8fa;
  min-height: 100vh;
}

.autoShiftScheme-container{
  padding: 20px;
  margin: 28px 28px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.scheme-add{
  display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    background-color: var(--background-color-light);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.scheme-add input{
  padding: 4px; 

}
.add-scheme-button {
  padding: 8px 8px;
  background: var(--gradient-border);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.scheme-grids{
  display: flex;
  gap: 20px;
}
.scheme-table-container{
  flex: 2;
  width: 100%;
  background-color: var(--background-color-light);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.scheme-title {
  color: var(--text-color);
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}




/* Table Headers */

.scheme-table thead th,
.shift-table thead th {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: white;
    padding: 12px;
    background-color: #4abb83;
    text-align: center;
}

/* Table Body Rows */

.scheme-table tbody tr ,
.shift-table tbody tr{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}


/* Hover Effect on Rows */

.scheme-table tbody tr:hover,
.shift-table  tbody tr:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Odd Row Background Color */
.scheme-table tbody tr:nth-child(odd),
.shift-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Table Cell Styling */
.scheme-table td,
.shift-table td {
    font-size: 12px;
    padding: 8px;
    text-align: center;
    color: #35363a;
}

/* Button Container Styling (for buttons inside table cells) */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Button Styling */
.showShift-btn {
  padding: 6px 10px;
  background: var(--gradient-border);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}


/* Button Colors */
.deleteScheme-btn {
  padding: 6px 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  background: var(--red-gradient);
}

.deselect-btn{
  padding: 6px 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  background: var(--red-gradient);
}


.shift-table-container{
  flex: 3;
  width: 100%;
  background-color: var(--background-color-light);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.shift-table-Header-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.shift-table-title{
  color: var(--text-color);
}

.shift-table-groupName{
  color: var(--primary-color);
}